<!DOCTYPE html>
<html>
  <head>
    <title>SimpleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <% if notice.present? %>
      <p class="notice alert alert-success"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
